USE [QuanLyKhachSan_K235480106016]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiDanhGia]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_PhanLoaiDanhGia]()
RETURNS @Result TABLE (MaPhieu VARCHAR(10), KhachHang NVARCHAR(100), XepLoai NVARCHAR(30)) AS
BEGIN
    INSERT INTO @Result
    SELECT [MaPhieu], [HoTenKhach],
           CASE WHEN [DiemDanhGia] >= 9 THEN N'Xuất sắc'
                WHEN [DiemDanhGia] >= 7 THEN N'Tốt'
                ELSE N'Trung bình' END
    FROM [PhieuDatPhong];
    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienMotPhieu]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[fn_TinhTienMotPhieu] (@MaPhieu VARCHAR(10))
RETURNS MONEY AS
BEGIN
    DECLARE @T MONEY;
    SELECT @T = p.[SoNgayO] * l.[GiaThue] FROM [PhieuDatPhong] p 
    JOIN [Phong] r ON p.[MaPhong] = r.[MaPhong] JOIN [LoaiPhong] l ON r.[MaLoaiPhong] = l.[MaLoaiPhong]
    WHERE p.[MaPhieu] = @MaPhieu;
    RETURN ISNULL(@T, 0);
END;

GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[MaPhieu] [varchar](10) NOT NULL,
	[HoTenKhach] [nvarchar](100) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayCheckIn] [datetime] NULL,
	[SoNgayO] [int] NULL,
	[DiemDanhGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimPhieuTheoKhach]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TimPhieuTheoKhach] (@TenKhach NVARCHAR(100))
RETURNS TABLE AS RETURN (
    SELECT [MaPhieu], [MaPhong], [NgayCheckIn], [SoNgayO] FROM [PhieuDatPhong]
    WHERE [HoTenKhach] LIKE '%' + @TenKhach + '%'
);

GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[GiaThue] [money] NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[SoPhong] [varchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[Tang] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT (getdate()) FOR [NgayCheckIn]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_Phieu_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Loai] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Loai]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [CK_GiaThue] CHECK  (([GiaThue]>=(0)))
GO
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [CK_GiaThue]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_Diem] CHECK  (([DiemDanhGia]>=(0) AND [DiemDanhGia]<=(10)))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_Diem]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_SoNgayO] CHECK  (([SoNgayO]>(0)))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_SoNgayO]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Tang] CHECK  (([Tang]>=(1) AND [Tang]<=(50)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Tang]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai] CHECK  (([TrangThai]=N'Đang sửa' OR [TrangThai]=N'Có khách' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoChiTietDatPhong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BaoCaoChiTietDatPhong]
AS
BEGIN
    SELECT 
        PDP.[MaPhieu],
        PDP.[HoTenKhach],
        P.[SoPhong],
        P.[Tang],
        LP.[TenLoaiPhong],
        PDP.[NgayCheckIn],
        [dbo].[fn_TinhTienMotPhieu](PDP.[MaPhieu]) AS [ThanhTien]
    FROM [PhieuDatPhong] PDP
    INNER JOIN [Phong] P ON PDP.[MaPhong] = P.[MaPhong]
    INNER JOIN [LoaiPhong] LP ON P.[MaLoaiPhong] = LP.[MaLoaiPhong]
    ORDER BY PDP.[NgayCheckIn] DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoLuotDatCuaPhong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DemSoLuotDatCuaPhong]
    @MaP VARCHAR(10),
    @TongSoLuot INT OUTPUT -- Tham số đầu ra
AS
BEGIN
    SELECT @TongSoLuot = COUNT(*) 
    FROM [PhieuDatPhong] 
    WHERE [MaPhong] = @MaP;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLoaiPhong]    Script Date: 4/30/2026 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ThemLoaiPhong]
    @MaLoai VARCHAR(10),
    @TenLoai NVARCHAR(50),
    @Gia MONEY,
    @MoTa NVARCHAR(200)
AS
BEGIN
    -- Kiểm tra điều kiện logic: Mã loại phòng không được trùng
    IF EXISTS (SELECT 1 FROM [LoaiPhong] WHERE [MaLoaiPhong] = @MaLoai)
    BEGIN
        PRINT N'Lỗi: Mã loại phòng này đã tồn tại trong hệ thống!';
        RETURN;
    END

    -- Thực hiện lệnh INSERT
    INSERT INTO [LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaThue], [MoTa])
    VALUES (@MaLoai, @TenLoai, @Gia, @MoTa);

    PRINT N'Thêm loại phòng mới thành công!';
END;

GO
